<html lang="en">
<head>
    <title>Password confirmation</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p>Errors:</p>
            {{ form.errors.as_li }}
        {% endif %}
        {{ form.password }}
        <button type="submit"> Confirm password </button>
        <input type="hidden" id="{{ form.username.auto_id }}" name="{{ form.username.html_name }}" value="{{ user.email }}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</body>
</html>
