<html lang="en">
<head>
    <title>{{ title|default:"Password reset" }}</title>
</head>
<body>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.errors.as_ul }}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
            <input type="submit">Reset</button>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it expired, or it has been used before.
        </p>
    {% endif %}
</body>
</html>
